/* CSS RESET */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  hiding the overflowed elements */
html{
  overflow-x: hidden;
}
/*  hiding the overflowed elements */
body{
  overflow-x: hidden;


}

/*  Styling the navbar */
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 12vh;
  background-color: #77e6e6;
  width: 100%;

  
}
/* Styling the nav-links block*/
.nav-links{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5em;

  
}
/* Styling  all the particular links*/
.nav-links a{
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  cursor: pointer;
 
}

/* styling the hamburger div */
.hamburger{
  display: flex;
  font-size: 1.2em;

  margin-right: 0.5em;
  
}

/* Styling the hamburger icons */
.hamburger i{
  font-size: 1.2em;
  display: none;
  border: 1.4px solid #807a7a;
  padding: 2px 2px;
}




/* Appling the media for devices less than 600px or 37.6em(38em) */
@media only screen and (max-width:38em){
  
  body{
    position: relative;
    height: 100vh;
  }

  /* Styling the nav-link block */
  .nav-links{
    flex-direction: column;
    transform: translateX(100%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #77e6e6; 
    visibility: hidden;
    opacity: 0; 
     pointer-events: none;
    transition: 0.54s linear;
  }

  /* Styling all the nav-links */
 .nav-links a{
  color: #f0f8ff;
 }

/*  Styling nav-links ,when active class is present */
  .active .nav-links{
    transform: translateX(0);
    visibility:visible;
    opacity:1;
    pointer-events: all;
  }

  /*  Styling hamburger icon 1,when active class is present */

  .active .hamburger i:nth-child(1){
    transition: 0.7s linear;
    display: none;
  }

  /*  Styling hamburger icon 2,when active class is present */

  .active .hamburger i:nth-child(2){
    display: block;
  }

  /* displaying the hamburger menu */
  .hamburger i:nth-child(1){
    display: block;   
 }

  /* hiding the cross */
  .hamburger i:nth-child(2){
     display: none;   
  }

/*  hamburger should have high z-index */
  .hamburger{
  
    z-index: 999;
    display: block;   
    
  }

}